---
import site from '../data/site'
import Main from '../layouts/Main.astro'
import { getHumanReadableDate, getMachineReadableDate } from '../utils/dates'
import { getPosts } from '../utils/posts'

const posts = await getPosts()
---

<Main title={site.title} description={site.description.site}>
  <h1 class="sr-only">{site.title}</h1>

  <section>
    <h2 class="sr-only">Latest Posts</h2>

    <ol reversed class="columns-xl gap-x-24">
      {
        posts.map(post => {
          const date = post.data.date || Date.now()

          return (
            <li class="flex flex-col md:flex-row md:items-baseline mb-7 md:mb-4">
              <time datetime={getMachineReadableDate(date)} class="timestamp md:min-w-[7rem]">
                {getHumanReadableDate(date)}
              </time>

              <a href={`/${post.slug}/`} class="group outline-none">
                <span class="link">{post.data.title || post.slug}</span>
              </a>
            </li>
          )
        })
      }
    </ol>
  </section>
</Main>
