---
import { getCollection } from 'astro:content'

import fetchItunesItems from '../../lib/itunes/fetchItunesItems'
import fetchTmdbList from '../../lib/tmdb/fetchTmdbList'
import Main from '../layouts/Main.astro'
import { getMachineReadableDate } from '../utils/dates'

const title = 'Likes'

const books = await getCollection('books')
const albums = await getCollection('albums')
const podcasts = await getCollection('podcasts')

const bookList = books.map(book => book.data)
const albumList = albums.map(album => album.data)
const podcastList = podcasts.map(podcast => podcast.data)

const categories = await Promise.all([
  { title: 'TV Shows', items: await fetchTmdbList(import.meta.env.TMDB_TV_LIST_ID, 'tv'), source: 'TMDB' },
  { title: 'Movies', items: await fetchTmdbList(import.meta.env.TMDB_MOVIE_LIST_ID, 'movie'), source: 'TMDB' },
  { title: 'Books', items: await fetchItunesItems(bookList, 'ebook', 'ebook'), source: 'iTunes' },
  { title: 'Albums', items: await fetchItunesItems(albumList, 'music', 'album'), source: 'iTunes' },
  { title: 'Podcasts', items: await fetchItunesItems(podcastList, 'podcast', 'podcast'), source: 'iTunes' },
])
---

<Main title={title} description="TV shows, movies, albums, books and podcasts I liked a lot.">
  <h1 class="sr-only">{title}</h1>

  {
    categories.map(category => {
      const imgHeightClass = category.title === 'Albums' || category.title === 'Podcasts' ? 'h-[192px]' : 'h-[288px]'

      return (
        <section>
          <h2 class="heading text-3xl">{category.title}</h2>

          <ul class="hide-scrollbar flex relative overflow-x-auto overflow-y-hidden">
            {category.items.map(item => (
              <li class="flex-none mr-10 w-48">
                <a
                  href={item.link || 'https://youtu.be/dQw4w9WgXcQ'}
                  aria-label={`Visit the ${category.source} page for "${item.title}" in a new window.`}
                  target="_blank"
                  class="text-center leading-tight font-semibold text-zinc-300"
                >
                  {/* decorative, so hide from screen readers */}
                  <img
                    src={item.imageUrl}
                    alt=""
                    width={192}
                    height={category.title === 'Albums' || category.title === 'Podcasts' ? 192 : 288}
                    class={`image w-[192px] ${imgHeightClass}`}
                  />

                  <p class="mt-3 text-[1.05rem]">{item.title}</p>

                  {/* {'artist' in item && item.artist && <p class="mt-[0.35rem] text-sm">{item.artist}</p>} */}

                  {item.date && (
                    <time datetime={getMachineReadableDate(item.date)} class="block mt-[0.25rem] text-sm">
                      ({new Date(item.date).getFullYear()})
                    </time>
                  )}
                </a>
              </li>
            ))}
          </ul>
        </section>
      )
    })
  }
</Main>
